---
name: Nix Lint

on: [pull_request]

jobs:
  check:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install xz-utils
        shell: bash
        run: |
          sudo apt-get update && sudo apt-get install -y xz-utils;

      - name: Install Nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Install Nix Linting and Formatting Tools
        run: nix-env -i statix nixpkgs-fmt -f '<nixpkgs>'

      - name: Run Statix Lint
        run: statix fix

      - name: Run Nix Format
        run: nix fmt

      - name: Nix Flake Checker
        uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
        with:
          commit_message: Auto lint/format
